<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat the Burger</title>
		<link href="/assets/css/burger_style.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Courgette|Raleway" rel="stylesheet">
		<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
		<script src="/assets/js/formLogic.js" lang="js" /></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
