<div class="container">
  <h1>Eat the (veggie) Burger</h1>
  <h3>Enter your name to see and create burgers!</h3>
  <form action="/user" method="POST" class="create-user">
    <input type="text" name="user_name">
    <button id="addUser">Submit</button>
  </form>
  <img src="/assets/img/burger.png" class="burgerimage">
</div>