body {
    background-color: #d2af05;
    color: white;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
}
h1, h3 {
    font-family: "Courgette", cursive;
    text-shadow: black 2px 1px 3px;
    text-align: center;
}
.burgerimage {
    margin: 10px auto;
    display: block
}
.container {
    width: 700px;
    margin: 20px auto;
    display: block;
}
.category{
    display: block;
}
.devoured {
    float: right;
}
.undevoured {
    float: left;
}
.devoured>h3 {
    color: lightgrey;
    font-size: .9em;
}
.burger {
    color: darkred;
    border: 1px solid black;
    max-width: 280px;
    padding: 10px 5px;
    margin: 15px;
    background-color: lightcyan;
}
.devoured .burger {
    background-color: #eee;
    color: #888;
    border-color: #999;
}
.info {
    font-size: x-small;
    color: #666;
}
.burger-name {
    margin-top: 0;
    text-align: center;
    text-shadow: none;
}
form.create-user {
    text-align: center;
}
form button {
    margin: 10px auto 3px;
    display: block;
    font-size: 1em;
}
form.create-burger {
    margin-left: 15px;
}
form.create-burger button {
    vertical-align: top;
    margin: 0;
    display: inline-block;
}
form.create-burger textarea {
    width: 265px;
}
#changeUser {
    display: none;
    font-size: .3em;
    text-decoration: underline;
    cursor: pointer;
    font-family: Arial, sans-serif;
    text-shadow: none;
    color: white;
    position: relative;
    left: 22px;
    display: inline-block;
    line-height: .9em;
}